@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;
}
header{
    position: absolute;
    top: 0;
    left: 0d;
    width: 100%;
    padding: 45px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation li{
    list-style: none;  
}
header .navegation li a{
    color: rgb(19, 19, 19);
    display: inline-block;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
    transition:  0.2s ease-in-out;
}
header .navegation li a:hover{
    transform: translateY(-5px);
    color: #410096;
}
.container {
    width: 80%;
    height: 60vh;
    display: flex;
    box-shadow: 2px 1px 4px rgb(178, 178, 178);
    border-radius: 5px;
}
.form-image{
    border-radius: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    padding: 1rem;
}
.form-image img{
    width: 31rem;
}
.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
}
.form-header{
    margin-bottom: 3rem;
    display: flex;
}
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #410096;
    margin: 0 auto;
    position: absolute;
    border-radius: 6px;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input, textarea{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover, textarea:hover{
    background-color: #eeeeee75;
}
.input-box input:focus-visible, textarea:focus-visible{
    outline: 1px solid #410096;
}
.input-box label{
    font-size: 0.75rem;
    font-weight: 400;
}
.send-button button{
    width: 100%;
    margin-top: 0.5rem;
    border: none;
    background-color: #410096;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.send-button button:hover{
    opacity: 0.9;
}
.send-button button a{
    font-size: 1em;
    font-weight: 500;
    color: #fff;
}
@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container{
        width: 50%;
    }
    .form{
        width: 100%;
    }
}
@media screen and (max-width: 1064px) {
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 12rem;
        padding-right: 5rem;
    }
}

