@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
section{
    position: relative;
    padding: 100px;
    overflow: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation li{
    list-style: none;  
}
header .navegation li a{
    color: rgb(19, 19, 19);
    display: inline-block;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
    transition:  0.2s ease-in-out;
}
header .navegation li a:hover{
    transform: translateY(-5px);
    color: #410096;
}
.box{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
}
.img{
	width: 400px;
	margin-right: 200px;
}
.container 
{
	position: relative;
	width: 380px;
	height: 420px;
	background: #a1a1a1;
	border-radius: 8px;
	overflow: hidden;
    padding: 10px;
}
.container::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#410096,#410096);
	animation: animate 6s linear infinite;
}
.container::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#410096,#410096);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form 
{
	position: absolute;
	inset: 2px;
	background: #a1a1a1;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color: #410096;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #a1a1a1;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: rgb(19, 19, 19);
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: #410096;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #410096;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: rgb(19, 19, 19);
	text-decoration: beige;
	transition: .5s ease;
}
.links a:hover, 
.links a:nth-child(2)
{
	color: #410096;
	transform: scale(1.05);
}
.links a:nth-child(2):hover{
	color: rgb(19, 19, 19);
	transform: scale(1.1);
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #ececec;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
	transition: .5s ease;
}
input[type="submit"]:hover{
	opacity: 0.8;
	transform: scale(1.1);
	background: #410096;
	color: #ececec;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}