input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 1px 4px rgb(235, 235, 235);
  }
  input[type=text]:hover, input[type=password]:hover{
    background-color: #eeeeee75;
  }
  input[type=text]:focus-visible, input[type=password]:focus-visible{
    outline: 1px solid #410096;
  }
  button {
    background-color: #410096;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
  }
  button:hover {
    opacity: 0.9;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  img.avatar {
    width: 25%;
    border-radius: 50%;
  }
  .container {
    padding: 16px;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  .modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
  }
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover, .close:focus {
    color: #410096;
    cursor: pointer;
  }
