@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0d;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation li{
    list-style: none;  
}
header .navegation li a{
    color: rgb(19, 19, 19);
    display: inline-block;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
    transition:  0.2s ease-in-out;
}
header .navegation li a:hover{
    transform: translateY(-5px);
    color: #410096;
}
.imgmain img{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    max-width:600px;
    max-height:550px;
    width: auto;
    height: auto;
}
.container{
    position: relative;
    width: 100%;
    display:  inline-block;
    align-items: center;
    justify-content: space-around;
}
.container .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.container .text h2{
    color: #222;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.container .text h2 span{
    font-size: 3.5em;
    color: #410096;
}
.container .text p{
    color: rgb(19, 19, 19);
}
.container .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #410096;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.container .text a:hover{
    transform: translateY(-10px);
}
.icone{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone li{
    list-style: none;
}
.icone li a{
    display: inline-block;
    margin-left: 45px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}
.icone li a:hover{
    background: #410096;
    transform: translateY(-10px);
}
.icone li a img{
    transform: scale(0.5);
    filter: invert(1);
}