@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
section{
    position: relative;
    padding: 100px;
    padding-bottom: 20px;
    overflow: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;
}
header{
    position: absolute;
    top: 0;
    left: 0d;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation li{
    list-style: none;  
}
header .navegation li a{
    color: rgb(19, 19, 19);
    display: inline-block;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
    transition:  0.2s ease-in-out;
}
header .navegation li a:hover{
    transform: translateY(-5px);
    color: #410096;
}

.box {
    display: flex;
    box-shadow: 0px 0px 10px 4px rgb(178, 178, 178);
    border-radius: 5px;
    padding: 10px;
	margin-top: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.user{
    width: auto;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    bottom: 50px;
    left: 50px;
    width: 200px;
    height: 250px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
}

.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75s;
}
.card:hover .card-image{
    transform: scale(1.15);
}
.card-title{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    text-shadow:  0 0 1px rgba(0, 0, 0, .5);
    color:blue
}
/* cards */
.informations{
    width: 600px;
    height: 420;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
    padding: 40px;
    padding-left: 110px;
}

.informations h2{
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 30px;
    padding-top: 0;
}

.btn{
    margin-top: 20px;
    margin-left: 35%;
    padding: 5px;
    text-decoration: none;
	cursor: pointer;
	border-radius: 4px;
    border: 0px;
	width: 100px;
	transition: transform .2s ease;
    background: #410096;
        color: #ffffff;
}
.btn:hover{
    transform: translateY(-5px);
    opacity: 0.8;
}